<p><center><h3><%= order.id %></h3></p>


<p>Order ID: <%= order.id %></p>
<p>Product: <%= @order.product.name %></p>
<p>Order ID: <%= order.id %></p>
<p>Product: <%= @order.product.name %></p>
<p>Order ID: <%= order.id %></p>
<p>Product: <%= @order.product.name %></p><p>
<p>Order ID: <%= order.id %></p>
<p>Purchased By: <%= 
<p>Product: <%= @order.product.name %></p>
<img src="<%= @order.product.images.first.image_url %>">