<div class="row">
  <% @products_discount.each do |name| %>
  <center>
    <div class ="col-sm-3">
      <div class ="product-box">
      <a href="/products/<%= name.id%>">
          <p>Product Name: <%= name.name %></p>
          <p><img src="<%=name.image %> " class="img-responsive"></p>
          <p>Price: <%= name.price %></p>
          <p>Description: <%= name.description %></p>
        </a>
      </div>
    </div>  
  </center>
  <% end %>
</div>