<p><center><h3><%= @product.name %></h3></p>
<p><img src="<%=@product.image %>  "></p>
<p><%= @product.description %></center></p>
<p>Inventory: <%= @product.inventory %><font color="red"><strong> <%= @product.in_stock %></p></strong></font></p>
<p>Price: <%= number_to_currency(@product.price) %></p>
<p>Tax: <%= number_to_currency(@product.tax) %></p>
<hr>
<p><strong>Total: <%= number_to_currency(@product.total) %></strong></p>
<hr>

<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Modify Product <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to "Edit", "/products/#{@product.id}/edit" %></li>
    <li><%= link_to "Delete", "/products/#{@product.id}", method: :delete %></li>
  </ul>
</div>
</div>