<p><center><h3><%= @product.name %></h3></p>
<% @product.images.each do |image| %>
<p><img src="<%=image.url %>  "></p>
<% end %>
<p><%= @product.description %></center></p>
<p>Inventory: <%= @product.inventory %><font color="red"><strong> <%= @product.in_stock %></p></strong></font></p>

<p>Price: <%= number_to_currency(@product.price) %></p>
<p>Tax: <%= number_to_currency(@product.tax) %></p>
<hr>

<p><strong>Total: <%= number_to_currency(@product.total) %></strong></p>
<hr>
<%= form_tag "/carted_products", method: :post do %>
<div>
  <%= label_tag :quantity %>
  <%= text_field_tag :quantity %>
</div>
<div>
  <%= hidden_field_tag :product_id, @product.id %>
</div>
<div>
  <%= submit_tag "Add To Cart" %>
</div>
<% end %>
<br>
<br>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Modify Product <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to "Edit", "/products/#{@product.id}/edit" %></li>
    <li><%= link_to "Delete", "/products/#{@product.id}", method: :delete %></li>
  </ul>
</div>
</div>